<style>
  /*======footer*1*=========*/
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
    background-color: black;
    color: white;
  }
  footer p {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  footer a {
    color: white;
    font-size: 18px;
  }
</style>

<p>
  <a href="https://www.facebook.com/SAKIB797" aria-label="facebook profile"
    ><i class="fa-brands fa-facebook"></i></a
  >.
  <a href="https://github.com/SAKIB797" aria-label="github profile"
    ><i class="fa-brands fa-github"></i></a
  >.
  <a href="https://www.linkedin.com/in/ihSakib/" aria-label="linkedin profile"
    ><i class="fa-brands fa-linkedin"></i
  ></a>
</p>
<p>&copy; 2024 bMango. All rights reserved.</p>
