/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close-modal {
  color: white;
  float: right;
  margin: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.close-modal:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.modal-body {
  padding: 3rem;
}
.order-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}

.order-form > div {
  flex: 1 1 200px;
}
.order-form label {
  margin-bottom: 3px;
}

.order-form input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.submit-btn-container {
  flex: 0 0 100% !important;
}
.order-form input[type="submit"] {
  padding: 10px;
  border: none;
  background-color: #5cb85c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.order-form input[type="submit"]:hover {
  background-color: #ffb347;
}
@media (min-width: 1200px) {
  .modal-body {
    padding: 5rem;
  }
  .order-form {
    margin-bottom: 2rem;
  }
}
