@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
  --border-color: #bdc3c7;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}
img {
  width: 100%;
  border-radius: 2px;
}
section {
  padding-block: 4rem;
}
body {
  margin: 0;
}

/*===========header*1*==========*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-inline: 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
header p {
  font-weight: bold;
  font-size: 20px;
  font-weight: bolder;
}
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.header-right a {
  color: black;
  font-size: 20px;
}
.header-right .menu-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-inline: 14px;
  cursor: pointer;
}
.nav-lg {
  display: none;
}
.nav-sm {
  width: 0%;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 8rem;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: 0.5s;
}
.nav-sm .cls-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
}
.nav-sm .cls-btn:hover {
  color: #e74c3c;
}
.nav-sm a {
  width: 100%;
  color: #2c3e50;
  text-align: center;
  text-decoration: none;
  padding-block: 1rem;
}
.nav-sm a:hover {
  background-color: gainsboro;
}

/*===========intro*1*=================*/
.intro .quality-title-lg {
  display: none;
}
.intro {
  height: 100vh;
  padding-inline: 2rem;
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.intro div:nth-child(2) h1 {
  display: none;
}
.intro div:nth-child(1) {
  align-self: self-end;
}
.intro div:nth-child(2) {
  align-self: self-start;
}
.intro .shop-btn,
.ad .shop-btn {
  display: block;
  width: fit-content;
  background-color: green;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
}
.intro .shop-btn:hover,
.ad .shop-btn:hover {
  background-color: darkorange;
}
.intro h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}
.intro .quality-title-sm {
  color: var(--text-color);
  font-weight: 500;
  margin: none;
  margin-bottom: -10px;
}
.intro p {
  color: var(--text-color);
  font-size: 14px;
}

/*=============ad*1*=============*/
.ad > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem;
  padding-bottom: 2rem;
}

.ad .shop-btn {
  display: block;
  width: fit-content;
  background-color: green;
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  margin-top: 0;
  border: none;
  border-radius: 5px;
}
.ad .shop-btn:hover {
  background-color: darkorange;
}
.ad > div:nth-child(1) p {
  font-weight: bolder;
  font-family: "Merriweather", serif;
  font-size: 18px;
  text-align: center;
}
.ad div:nth-child(2) p {
  text-align: center;
  padding: 2rem;
  background-color: gainsboro;
  margin: 0;
  font-weight: bold;
  font-family: "Merriweather", serif;
}

/*=========products*1*================*/
.products h2 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: bold;
  text-decoration: underline;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 2rem;
  gap: 10px;
}
.products-grid > div {
  border: 1px solid gainsboro;
  border-radius: 5px;
}
.products-grid > div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
}
.products-grid > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding-inline: 2rem;
  padding-block: 1rem;
}
.products-grid > div > div:nth-child(1) {
  text-align: center;
  padding: 1rem;
}
.products-grid > div > div:nth-child(2) > h3 {
  margin: 0;
}
.products-grid > div > div:nth-child(2) > .buy-btn {
  background-color: #2ecc71;
  text-align: center;
  padding-block: 5px;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  border: none;
}
.products-grid > div > div:nth-child(2) > .buy-btn:hover {
  background-color: darkorange;
}

/*======footer*1*=========*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  background-color: black;
  color: white;
}
footer p {
  margin: 0;
  margin-bottom: 0.5rem;
}
footer a {
  color: white;
  font-size: 18px;
}

/*========screen wider than 820px========*/
@media (min-width: 820px) {
  /*==========header*2*============*/
  header {
    padding-inline: 2rem;
  }
  header p {
    font-size: 24px;
  }
  .nav-sm {
    display: none;
  }
  .nav-lg {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .nav-lg a {
    font-size: 16px;
    text-decoration: none;
  }
  .nav-lg a:hover {
    border-bottom: 2px solid var(--secondary-color);
  }
  .menu-btn {
    display: none;
  }

  /*==========intro*2*============*/
  .intro h1 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
  }
  .intro {
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .intro div:nth-child(2),
  .intro div:nth-child(1) {
    align-self: center;
  }
  .intro div:nth-child(1) h1 {
    display: none;
  }
  .intro div:nth-child(2) h1 {
    display: block;
  }
  .intro .shop-btn {
    display: block;
    width: fit-content;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
  }
  .intro .quality-title-lg {
    display: block;
    font-size: 20px;
    margin: none;
  }
  .quality-title-sm {
    display: none;
  }
  .intro p {
    color: var(--text-color);
    font-size: initial;
  }

  /*===========ad*2*===============*/
  .ad > div:nth-child(1) {
    padding-inline: 4rem;
    padding-block: 2rem;
    flex-direction: row;
  }

  .ad .shop-btn {
    display: block;
    width: fit-content;
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 0;
    border: none;
    border-radius: 5px;
  }
  .ad > div:nth-child(1) p {
    text-align: left;
    font-size: 30px;
    width: 70%;
  }
  .ad div:nth-child(2) p {
    font-size: 24px;
  }

  /*=============products*2*==============*/
  .products-grid img {
    height: 150px;
  }
  .products h2 {
    font-size: 30px;
  }
}
/*==========screen wider than 1200px===========*/
@media (min-width: 1200px) {
  /*==========header*3*===============*/
  .header-right {
    margin-right: 50px;
  }
  .nav-lg {
    margin-right: 100px;
  }
  .intro h1 {
    font-size: 50px;
    margin-block: 20px;
  }
  .intro div:nth-child(2) {
    padding-right: 2rem;
  }
  .intro .quality-title-lg {
    margin: 0;
  }

  /*============products*3*================*/
  .products-grid img {
    height: 150px;
  }
  .products-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
  }
  .products h2 {
    font-size: 34px;
  }
}
